.list-books-wrapper {
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:200px;
  }
  .prise{
    border: 1px;
    padding: 15px;
    width: 300px;
  }
  input,
  select {
    margin: 15px;
    border: 1px solid #000000;
    padding: 10px 8px;
    border-radius: 4px;
    width: 300px;
  }

  .bold{
    font-weight: bold;
    padding-right: 8px;
  }
  .book{
    height: 400px;
    padding: 15px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    border: 1px solid #cccccc;
  }
  .book-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .description{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }



  .list-inline {
    /*display: flex;*/
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 30% 30% 30%;
    //grid-template-rows: 450px 1fr;
  }

  .search-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .input-wrapper {
    position: relative;
  }

  .input-wrapper .icon {
    position: absolute;
    right: 30px;
    top: 20px;
    /*background: red;*/
    border-radius: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .poster {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
