.basket {
  .list {
    padding-top: 30px;
    width: 100%;
    .row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 12px;
      border: 1px solid #000;

    }
  }
  .total-price {
    width: 100%;
  }
}
.page-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

