.sign-in-wrapper {
  .button{
    width: 200px;
    margin-top: 12px;
  }

  h2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  img{
    width: 160px;
    height: 160px;
    margin-bottom: 16px;
  }
  .login-form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: 320px){
    .login-form{
      width: 100%
    }
    .content{
      padding: 8px;
    }
    img{
      width: 200px;
      height: 200px;
    }
  }
}
